body
{
  background-color: #222;
  cursor: default;
}

h2
{
  margin-bottom: 1em;
}

.navbar-brand
{
  background-image: url("/images/CurlSmall.png");
  background-repeat: no-repeat;
}

#content-container
{
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  -webkit-perspective: 1000;
  max-width: 1000px;
  perspective: 1000;
}

#photo-description
{
  -ms-border-radius: 32px;
  -ms-opacity: 0;
  -ms-text-shadow: 0 1px 0 rgb(60, 49, 10);
  background-image: -webkit-linear-gradient(top, rgb(142, 114, 29) 50%, rgb(186, 148, 31) 100%);
  background-image: linear-gradient(to bottom, rgb(142, 114, 29) 50%, rgb(186, 148, 31) 100%);
  border: 2px solid rgb(186, 148, 31);
  border-radius: 32px;
  color: rgb(217, 188, 99);
  font-weight: bold;
  left: 32px;
  opacity: 0;
  padding: 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgb(60, 49, 10);
  top: 32px;
  z-index: 10000;
}

.carousel .item
{
  -ms-border-radius: 30px;
  border: 5px solid rgb(186, 148, 31);
  border-radius: 30px;
  margin: 10px;
}

.navbar
{
  margin-bottom: 0;
}

.fade-in
{
  display: none;
}

div .jumbotron
{
  background-color: inherit;
}

.btn-menu
{
  margin-bottom: 2px;
  width: 130px;
}

.img-backdrop
{
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-dark
{
  -ms-border-radius: 8px;
  -ms-opacity: 0.6;
  background-color: #222;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: linear-gradient(rgb(60, 60, 60) 0%, rgb(34, 34, 34) 100%);
  background-repeat: repeat no-repeat;
  border-color: rgb(8, 8, 8);
  border-radius: 8px;
  opacity: 0.6;
}

.panel-wood
{
  border: none;
}

.panel-wood > .panel-heading
{
  background-image: url("/images/DarkWood.jpg");
  color: white;
}


@-moz-keyframes flip-down
{
  0%
  {
    -moz-transform: rotateX(-90deg);
    opacity: 0;
  }

  40%
  {
    -moz-animation-timing-function: ease-in-out;
    -moz-transform: rotateX(30deg);
    opacity: 1;
  }

  80%
  {
    -moz-animation-timing-function: ease-in-out;
    -moz-transform: rotateX(-15deg);
  }

  100%
  {
    -moz-animation-timing-function: ease-in-out;
    -moz-transform: rotateX(0);
  }
}

@-webkit-keyframes flip-down
{
  0%
  {
    -webkit-transform: rotateX(-90deg);
    opacity: 0;
  }

  40%
  {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform: rotateX(30deg);
    opacity: 1;
  }

  80%
  {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform: rotateX(-15deg);
  }

  100%
  {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform: rotateX(0);
  }
}

@keyframes flip-down
{
  0%
  {
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    opacity: 0;
    transform: rotateX(-90deg);
  }

  40%
  {
    -ms-transform: rotateX(30deg);
    -o-animation-timing-function: ease-in-out;
    -o-transform: rotateX(30deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
    transform: rotateX(30deg);
  }

  80%
  {
    -ms-transform: rotateX(-15deg);
    -o-animation-timing-function: ease-in-out;
    -o-transform: rotateX(-15deg);
    animation-timing-function: ease-in-out;
    transform: rotateX(-15deg);
  }

  100%
  {
    -ms-transform: rotateX(0);
    -o-animation-timing-function: ease-in-out;
    -o-transform: rotateX(0);
    animation-timing-function: ease-in-out;
    transform: rotateX(0);
  }
}

@keyframes fade-away
{
  0%
  {
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    opacity: 1;
    transform: rotateX(0);
  }

  100%
  {
    -ms-transform: translateZ(-400px) rotateX(90deg);
    -o-animation-timing-function: ease-out;
    -o-transform: translateZ(-400px) rotateX(90deg);
    animation-timing-function: ease-out;
    opacity: 0;
    transform: translateZ(-400px) rotateX(90deg);
  }
}

@-webkit-keyframes fade-away
{
  0%
  {
    -webkit-transform: rotateX(0);
    opacity: 1;
  }

  100%
  {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateZ(-400px) rotateX(90deg);
    opacity: 0;
    transform: translateZ(-400px) rotateX(90deg);
  }
}

@-moz-keyframes fade-away
{
  0%
  {
    -moz-transform: rotateX(0);
    opacity: 1;
    transform: rotateX(0);
  }

  100%
  {
    -moz-animation-timing-function: ease-out;
    -moz-transform: translateZ(-400px) rotateX(90deg);
    opacity: 0;
  }
}

.switch
{
  -moz-transform: rotatex(-90deg);
  -moz-transform-origin: 0 0;
  -moz-transform-style: preserve-3d;
  -ms-opacity: 0;
  -ms-transform: rotatex(-90deg);
  -ms-transform-origin: 0 0;
  -ms-transform-style: preserve-3d;
  -o-transform: rotatex(-90deg);
  -o-transform-origin: 0 0;
  -o-transform-style: preserve-3d;
  -webkit-transform: rotatex(-90deg);
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  opacity: 0;
  transform: rotatex(-90deg);
  transform-origin: 0 0;
  transform-style: preserve-3d;
}

.switch.on
{
  -moz-animation: flip-down 1s;
  -moz-perspective: 1000;
  -moz-transform: rotateX(0);
  -ms-animation: flip-down 1s;
  -ms-opacity: 1;
  -ms-perspective: 1000;
  -ms-transform: rotateX(0);
  -o-animation: flip-down 1s;
  -o-perspective: 1000;
  -o-transform: rotateX(0);
  -webkit-animation: flip-down 1s;
  -webkit-perspective: 1000;
  -webkit-transform: rotateX(0);
  animation: flip-down 1s;
  opacity: 1;
  perspective: 1000;
  transform: rotateX(0);
}

.switch.off
{
  -ms-opacity: 0;
  -webkit-animation: fade-away 0.5s;
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(-1200px);
  -webkit-transform: rotateX(90deg);
  opacity: 0;
}

.jumbotron
{
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.modal-footer
{
  bottom: 0px;
  position: absolute;
}

.phototitle
{
  color: rgb(186, 148, 31);
}

.contentHolderVisibleWrapper
{
  margin-left: auto;
  margin-right: auto;
}